@model Vidly.Models.Customer
@{
    /**/

    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@*Html.BeginForm -its renging begining <form> ans the end of the using blog the object return Html.BeginForm will be dispose
    and in dispose it will be equal </form>*@
@using (Html.BeginForm("Create", "Customers"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @*when razer view enging rending this view. it loock name prop and use this as the value for html label*@

        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Birthdate)

        @Html.TextBoxFor(m => m.Birthdate, new { @class = "form-control" })
    </div>
    @*<div class="form-group">
        @Html.LabelFor(m => m.IsSubscribedToNewsLetter)

        @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter, new { @class = "form-control" })
    </div>*@

    @*from getbootstrap.com (form)*@
    <div class="checkbox">
        <label>
            @*<input type="checkbox"> Check me out - two ways with similar*@
            @Html.CheckBoxFor(m => m.IsSubscribedToNewsLetter) Subscribed to NewsLetter?
        </label>
    </div>
}

